@import "../../global-styles/global-variables.scss";
.item {
   
        padding-bottom: var(--gutter-width);
        margin-bottom: var(--gutter-width);
        border-bottom-width: 1px;
        border-style: dashed;
    
}
.meta {
    line-height: 1.2;
    font-size: .85em;
    margin-top: .25em;
    > * {
        display: inline;
    }
    @media(min-width: $d-mq) {
        font-size: 1em;
        margin-top: var(--half-gutter);
    }
}
.blogExcerpt {
    margin-right: 4px;
}
.readMore {

    display: inline-block;
    font-size: .85em;
}