@import "../../global-styles/global-variables.scss";


.landing-header-title {
    font-size: 30px;
    margin-bottom:16px;
    &:last-child {
      margin-bottom:0;
    }
    @media(min-width: $t7) {
      font-size: 36px;
      grid-row-start: 1;
      grid-row-end: span 1;
      grid-column-end: span 4;
    }
    @media(min-width:$d-mq) {
      font-size: 42px;
    }
}
.landing-header-rule {
    height: 1px;
    border-top-width:1px;
    margin: 24px 0;
    @media(min-width:$d-mq) {
      margin:32px 0;
    }
}