@import "../../global-styles/global-variables.scss";

.tags {
    margin-top: var(--gutter-width);
}
.accessHeader {
    width: 0;
    height: 0;
    overflow:hidden; 
    visibility: hidden;
}
.li {
    display:inline-block;
    margin: 0 8px 8px 0;
}

