@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$ts: 0.25s;

$m4: 480px;
$t7: 760px;
$d9: (950px);
$d-mq: $d9 + 48px + 16px;

/*BREAK POINTS*/
$dt-break: 801px;
$dt-max-break: ($dt-break - 1px);
$tab: 'min-width:401px';
$dt: 'min-width: 1032px';
$dt-max: 1280px;
$dt-width: ($d9 + 38px);

:root {
    --gutter-width: 16px;
    --bg-white : #fafafa;
    --half-gutter: calc(var(--gutter-width) / 2) ;
    --dark-base : #212121;
    @media(min-width: $t7) {
      --gutter-width: 24px;
    }
    
    
}

/* SITE COLORS */
$body-bg: #fff;
$main-color: #404041;
$link-color: #bc812c;
$link-color-hover: black;
$white: #fafafa;
$black: #212121;

/*FONTS*/
$font-family:   'Roboto', sans-serif;
$font-serif: 'Merriweather', serif;
$font-sans: 'Roboto', sans-serif;
$font-size-base: 14px;
$line-height-base:  1.428571429;

/*PADDING*/
$header-top-padding: 72px;

/*Gutters*/
$gutter-width: 16px; 


@mixin bg-stripe() {
    background-color: transparent;
    background-size: 16px 16px;
    background-image: linear-gradient(45deg,
      transparent 0%,
      transparent 25%,
      currentColor 25%,
      currentColor 26%,
      transparent 26%,
      transparent 75%,
      currentColor 75%,
      currentColor 76%,
      transparent 76%
    );
  }
  