  
//
// Utility classes
// --------------------------------------------------
@import "./global-variables.scss";
@import "./mixins.scss";

/*
  .posterImg {
    @include poster-img();
  }
  */
  // Floats
  // -------------------------
  
  .clearfix {
    @include clearfix();
  }
  .center-block {
    @include center-block();
  }
  .pull-right {
    float: right !important;
  }
  .pull-left {
    float: left !important;
  }
  
  
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .invisible {
    visibility: hidden;
  }
  
  .hidden, .hide {
    display: none !important;
    visibility: hidden !important;
  }
  
  // UTILITY CLASSES
  .text-overflow  {
    @include text-overflow();
  }
  .inline-centerer {
    @include inline-centerer();
  }
  .ab-cover {
    @include ab-cover();
  }
  
  .aboveLine {
    position:relative;
    z-index:2;
  }
  .fontSans {
    font-family: $font-sans;
    * {
      font-family: $font-sans;
    }
  }
  .fontSerif {
    font-family: $font-serif;
  }
  .noUnderline {
    text-decoration: none !important;
  }
.fwNormal {
    font-weight:normal; 
  }
  
  
  .middleCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  
  
  // UTILITY PLACEHOLDER EXTENDERS
  %clearfix {
    @include clearfix();
  }
  %center-block {
    @include center-block();
  }
  %text-overflow {
    @include text-overflow();
  }
  %before-fix {
    @include before-fix();
  }
  %bg-cover {
    @include bg-cover();
  }
  %ab-cover {
    @include ab-cover();
  }
  %inline-centerer {
    @include inline-centerer();
  }
  
  .stripe-hover {
    @media not all and (hover:none) {
      &:hover {
        @include bg-stripe();
      }
    }
  }
  
  //HIDING
  // MOBILE HIDE
  
  .mob-hide {
    @media($dt-max) {
      display: none !important;
    }
  }
  
  // DT HIDE
  .dt-hide {
    @media($dt) {
      display: none !important;
    }
  }
  
  .beforeBlock {
   &:before {
     display:block;
     content:'';
    }
  }
  .after-block {
    &:after {
      display:block;
      content:'';
    }
  }
  .articleHeading {
    font-size: 26px;
    line-height: 1.1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    @media(min-width: $t7) {
      font-size: 42px;
    }
  }
  .tagLine {
    font-family: $font-serif;
    font-weight: normal;
    font-style: italic;
    line-height: 1.4;
  }

  ////TYPE
  .type-smaller {
    font-size: 14px; 
  }

///LAYOUT

.contentCenterer {
  @include content-centerer()
}

.gridLayout {
  @include grid-layout();  
  
}


.bottom-margin {
  margin-bottom: var(--gutter-width); 
}
/// Shadow styling
.box-shadow {
  box-shadow: 4px 4px 0 var(--the-color);
  &.bs-trans {
    @media not all and (hover:none) {
      &:hover {
        box-shadow: 6px 6px 0 var(--the-color);
      }
    }
  }
}
.bs-trans {
  transition: box-shadow .15s;
}
//Images
.poster-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}
.posterImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  overflow:hidden; 
}
.thin-box {
  border-width: 1px; 
  box-shadow: 2px 2px 0 var(--the-color);
}
.button-styling {
  box-shadow: 2px 2px 0 var(--the-color);
  border-width: 2px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.bottom-reading-section {
  margin: 0 var(--gutter-width);
    position: relative;
    @media(min-width: $t7) {
        max-width: 760px;
        margin: 0 auto;
        padding: 0 var(--gutter-width);
    }
}