@import "../../global-styles/global-variables.scss";
.slider {
    position:relative;
    display:block;
    .fakeLabel {
        display:none;
    }
    &:before, &:after {
        display: block;
        content: '';
    }
    &.darkMode:before {
        background:linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
        opacity: .75;
        position: absolute;
    }
}
.slider svg {
    display:block;
    position: absolute;
}
@media (max-width: ($t7 - 1px)) {
    $slider-size: 26px;
    
    .container {
    
        display:inline-block;
        position:relative;
        margin-top: calc(var(--gutter-width))
    }
    .slider {
        padding: 2px;
        border-width: 2px; 
        border-color: white; 
        width: 34px * 2 ;
        height: 34px;
        
        &:before, &:after {
            width: $slider-size;
            height: $slider-size;
        }
        &:after {
            background: white;
            width: $slider-size;
            height: $slider-size;
            position:absolute;
            left: 2px;
            top: 2px;
            transition: transform .15s;
        }
        &:before {
            position:absolute;
            right: 2px;
            top: 2px; 
            width:  ($slider-size + 5px);
            background: none;
        }
        svg {
            
            fill: white;
            color:white;
            right: 5px;
            top: 3px;
        }
        &.darkMode {
            &:after {
                transform: translateX(34px);
            }
            &:before {
                right: auto;
                left: 2px; 
                
            }
            svg {
                right: auto;
                left: 6px;
                top: 4px;
                width: 22px;
                height: 22px;
            }
        }
        
    }
    
}
@media(min-width: $t7) {
    .container {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        margin-right: 4px;
    }
    .slider {
        width: 24px;
        height: 24px;
        border-width: 1px;
        border-color: var(--bg-white);
        box-shadow: 2px 2px 0 var(--the-color);
        background: var(--the-color);
        &:active {
            box-shadow: none;
            left: 2px;
            top: 2px;
        }
        &.darkMode {
            background:none;
        }
        svg {
            --svg-size: 18px;
            width:var(--svg-size);
            height: var(--svg-size);
            left: calc(50% - (var(--svg-size) / 2));
            top: calc(50% - (var(--svg-size) / 2));
            fill:white;
            color:white;
            * {
                fill: inherit;
            }
        }
        &.darkMode:before {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}