@import "../../global-styles/global-variables.scss";

.header {
  position: fixed;
z-index:3;
left: 0;
top: 0;
width: 100%;
height: 0;

@media(min-width:$t7 ){
  width: $t7;
  height: 0;
  left: calc(50% - #{($t7 / 2)});
}
@media(min-width:$d-mq) {
  width: $dt-width;

  left: calc(50% - ( #{$dt-width / 2}  ));
}
}
.headerCenter {
  top: calc(var(--header-top-padding) / 2);
}