@import "../../global-styles/global-variables.scss";
.std-img {
   
    @media(min-width: $t7) {
      width: calc(100vw - 36px);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .figcaption{
    font-size: 14px;
    text-align: center;
    max-width: 712px;
    margin: var(--half-gutter) auto 0;
}