@import "../../global-styles/global-variables.scss";
.copyArea {
    > * {
        line-height: 1.5;
        margin-bottom: 1.5em; 
    }
    h1,h2,h3,h4,h5 {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: .25em;
    }
    h2 {
        font-size: 24px;
        @media(min-width: $dt-break) {
          font-size: 30px;
        }
      }
      h3 {
        font-size: 18px;
        @media(min-width: $dt-break) {
          font-size: 24px;
        }
      }
      h4 {
        font-size: 18px;
      }
      blockquote, .block-quote {
        margin: 0 0 1.5em 0;
        position: relative;
        padding-left: 32px;
        &:before {
          display: block;
          content:'\0022';
          left: -8px;
          top:0;
          position: absolute;
          font-family: $font-serif;
          font-weight: bold;
          font-size: 48px;
          line-height: 1;
        }
        p {
          margin-bottom:.5em;
        }
        @media(min-width:$dt-break) {
          padding-left: 0;
          &:before {
            left:-40px;
          }
        }
    
      }
      blockquote, blockquote p, .block-quote, .block-quote p {
        font-style: oblique;
        font-family: $font-sans;
      }
}
