@import "../../global-styles/global-variables.scss";
.tweet-block {
    border-width: 2px;
    padding: var(--half-gutter) calc(var(--gutter-width) - 4px) calc(var(--gutter-width) - 4px);
    box-shadow: 2px 2px 0 currentColor;
    font-size: 13px;
}
.top-content {
    display: flex;
    justify-content: space-between;
}
.twitter-logo {
    margin-left: 16px;
    svg {
        width: 24px;
        height: 24px;
    }
}
.user-info {
    display:flex;
    align-items: center;
}
.profile-pic img {
    width: 46px;
    height: 46px;
    border-width:1px;
    box-shadow: 1px 1px 0 currentColor;
}
.user-name {
    margin-left: 6px; 
    .h2 {
        font-size: 14px; 
    }
    .screen-name {
        font-size: 12px; 
        display: block;
        line-height: 1;
    }
}
.tweet {
    margin: .5em 0;
    font-size: 16px;
}
.date-stamp {
    display: block;
    line-height: 1;
}
.meta {
    border-top: 1px dashed currentColor;
    margin-top: var(--gutter-width);
    padding-top: calc( var(--gutter-width) - 4px);
    display: flex;
}
.interaction {
    margin-right: 16px;
    display:flex; 
    line-height: 1;
    align-items: center;
    .icon {
        margin-right: 4px; 
        svg {
            width: 16px;
            height: 16px; 
        }
    }
}