.tag-link {
    display:block;
    font-size: (12em / 18);
    border-style:dotted;
    border-width: 1px;
    padding: (4em / 12) (8em / 12); 
    box-shadow: 1px 1px 0 currentColor;
    transition: all .1s;
    &:hover {
        transform: translate(-1px,-1px);
        box-shadow: 2px 2px 0 currentColor;
    }
    &:active {
        transform: translate(0px,0px);
        box-shadow: 1px 1px 0 currentColor;
        transition:none;
    }
}