@import "../../global-styles/global-variables.scss";
.picture {
    svg {
        position: relative;
        width: 100%;
        height: auto;
        border-width: 1px;
        box-shadow: 2px 2px 0 currentColor;
    }
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.copyBlock {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3
}
.about-layout {
  grid-template-rows: auto 1fr;
}
.like-section {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.like-block {
 padding: 15px;
 border-style: dashed;
 border-width: 1px;
 margin-bottom: var(--gutter-width);

 &:last-child {
     margin-bottom: 0;
 }   
 > h2 {
     margin-bottom: .5em;
 }
 > ul {

    @media(max-width: ($t7 - 1px)) {
      column-count: 2;
      column-gap: var(--gutter-width);
    }

    li {
      margin-bottom:.5em;
      font-size: .85em;
      line-height: 1.2;

      @media(min-width: $d-mq) {
        display:inline-block;
        margin: 0;
        &:after {
          content: ', ';
        }
        &:last-child {
          &:after {
            content:'';
          }
        }
      }
    }
  }
}